/* .comment-container  {} */

.comment {
  margin-bottom: 1rem;
  border-radius: 8px;
  display: flex;
}

.comment-picture {
  padding-top: 0.8rem;
}

.comment-picture .profile-picture {
  margin-right: 1rem;
  border-radius: 50%;
  /* aspect-ratio */
  height: 35px;
  align-self: flex-start;
}

.comment-content {
  padding: 1.25rem;
  background-color: #f5f5f5;
  flex: 1;
  border-radius: 5px;
  color: #171717;
}

.comments__profile {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.comments__profile .dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #ccc;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.comment-date {
  color: #aaa;
  font-size: 0.85rem;
  /* margin-left: 0.25rem; */
}

.comments__text {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.cta .btn:not(:last-child) {
  margin-right: 1rem;
}

.cta .btn {
  border-radius: 10px;
  position: relative;
}

.cta .count {
  height: 18px;
  min-width: 18px;
  /* border-radius: 50%; */
  border-radius: 10px; /* 9px is 50% - so it will show rounded for 1-digit*/
  padding: 0 0.35rem;
  display: inline-block;
  background-color: #434343;
  color: #f5f5f5;
  position: absolute;
  left: -5px;
  top: -5px;
  font-size: 11px;
  line-height: 18px;
}
